

body   
    {background-color: coral;
    color: blue;
    }


h1 {
    font-family: Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    }

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(51, 2, 2);
    font-size: 20px;

    }

h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: blue;
        font-size: 18px;
    }

    p {
        line-height: 1.5;
     }

    img{
        border: 5px solid color; 
        padding: 10px;
        margin: 20px;
        border-top-right-radius: 30px;
        }

    ul li {
            display: inline-block;
            margin-left: 50px;
        }


